@page "/Login/Login"
@model LoginModel

<h2>Einloggen</h2>

<form asp-page-handler="LoginButton" method="post">
	Username: <input type="text" name="user" />
	<br />

	Passwort: <input type="password" name="pw" />
	<br />

	<button type="submit">Einloggen</button>
</form>