@using M000_DataAccess.Models
@model List<Kurse>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (Kurse k in Model)
{
	<span>@k.Kursname</span>
	<br/>
	@* @foreach (KursInhalte ki in k.KursInhaltes.ToList())
	{
		<span>@ki.InhaltTitel</span>
	} *@
}